.admin-layout {
    &__menu {
      padding-right: 0 !important;
    }
  
    &__content {
      min-height: 100vh;
      overflow-y: hidden;
      padding: 2em !important;
      border-right: 1px solid #808080;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }